@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Poppins:wght@100;400;700&display=swap');

* {
  border: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'PT Serif', serif;
}
